* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#cef131 0%, #ae9a26 33.33%, #565205 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    
    font-family: 'Chakra Petch', sans-serif;
    font-size: 27px;
}
